echo "# Portfolio" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/adouglasprofessional-ctrl/Portfolio.git
git push -u origin main
* { box-sizing: border-box; }
body { 
    background-color: #d4eddf;
    color: #050316; 
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    background-color: #d4eddf;
    margin-right: auto;
}
header { 
    background-color: #945dcb; 
    color: #FFFFFF;
    text-align: center;
}
header a {
    text-decoration: none;
}
    header a:link{
    color: #FFFFFF;
    }
    header a:visited{
    color: #FFFFFF;
    }
    header a:hover{
    color: #90C7E3;
    }

nav { 
    padding: 0;
    font-size: 120%;
    text-align: center;
    font-weight: bold;
    background-color: #5af948;
}
nav li {
    border-bottom: 1px solid darkblue; 
}
nav a {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0.5em;
    font-size: 1.1em;
}

nav li:hover ul {
    display: block;
}
    nav a:link {
    color: #5C7FA3;
    }
    nav a:visited {
    color: #344873;
    }
    nav a:hover {
    color: #A52A2A;
    }
    nav ul ul { position: absolute;
        background-color: #5af948;
        padding: 0;
        display: none; }
nav ul ul li { border: 1px solid #00005D;
     display: block;
     width: 8em;
     padding-left: 1em;
     margin-left: 0; }
nav li:hover ul { display: block; }
main {
    background-color: #d4eddf;
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
    overflow: auto;
}
main ul {
    list-style-image: url("marker.gif");
}
#mediahero {
    height: 300px;
    background-image: url("media-arts.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#codehero {
    height: 200px;
    background-image: url("code.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#modelhero {
    height: 200px;
    background-image: url("3D_Modellingjpg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#audiohero {
    height: 200px;
    background-image: url("AV.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#resumehero {
    height: 1024px;
    width: 732px;
    background-image: url("resume2026.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
table{
    border: 2px solid #3399CC;
    border-collapse: collapse;
}
td, th{
    padding: 0.2em;
    border: 2px solid #3399CC;
}
td{
    text-align: center;
}
.text{
    text-align: left;
}
tr:nth-of-type(odd){
    background-color: #F5FAFC;
}
video {
    float: right;
    margin-right: 1em;
}
h1 { 
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    letter-spacing: 0.25em;
    font-family: Georgia, 'Times New Roman', serif;
}

h2 { 
    color: #5589dd;
    text-shadow: 1px 1px #CCCCCC;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: left;
}
h3 { 
    color: #945dcb;
    font-family: Georgia, 'Times New Roman', serif;
}
dt { 
    color: #5af948;
}

footer {
    background-color: #d4eddf;
    font-size: 75%;
    padding: 2em;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
input, textarea{
    margin-bottom: 0.5em;
}
@media (min-width: 600px) {
    nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    nav li {
        border-bottom: none;
    }
    section {
        margin-left: 2em;
        margin-right: 2em;
        flex: 1;
    }
    .flow {
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    #wrapper {
        margin: auto;
        width: 70%;
        border: 1px solid darkblue;
        box-shadow: 0 0 3px darkblue;
    }
    nav { 
        text-align: left;
        padding-left: 1em;
    }
    @supports (display: grid){
    nav ul{
        flex-direction: column;
        padding-top: 1em;
    }
    header {
        grid-area: header;
    }
    
    nav {
        grid-area: nav;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    }
    .hero { grid-area: hero; }
    #wrapper{
       display: grid;
       grid-template-areas: 
                            "header header"
                            "nav hero"
                            "nav main"
                            "nav footer";
    }
}
}
#contact {
    font-size: 90%;
}